.userList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImage {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.userListEdit {
    margin-right: 20px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #3bb077;
    cursor: pointer;
}

.userListDelete {
    color: red;
    cursor: pointer;
}
